/* ======================= GENERAL ======================= */

/**
 * La fuente principal de la web es Segoe UI, usando sans-serif en
 * ausencia de ésta.
 */

* {
  font-family: 'Segoe UI', sans-serif;
}

/**
 * Color de fondo de toda la página (se sobreescribe en cada elemento).
 */

body {
  background-color: #22324d;
}

/**
 * Definimos una lista especial para los menús:
 * 1. La lista es un bloque.
 * 2. Los elementos de la lista no tienen "bullets".
 */

.menu-list {
  display: block;
  margin-top: 0;
  padding-bottom: 5px;
  padding-left: 0;
  list-style-type: none;
}

/**
 * Elementos de las listas de menú se muestran en horizontal.
 */

.menu-list>li {
  display: inline;
  text-align: center;
}

/**
 * 1. Enlaces sin decoración.
 * 2. Color de los enlaces.
 */

a {
  text-decoration: none;
  color: #22324d;
}

/**
 * 1. Anchura de la línea de separación entre artículos.
 * 2. Color de la línea de separación (igual que el fondo).
 * 3. Eliminación del borde de la línea de separación.
 */

hr {
  height: 20px;
  border: none;
  background-color: #22324d;
}

/**
 * 1. Margen inferior para los vídeos de la página.
 */

iframe {
  margin-bottom: 20px;
}

/* ======================= CABECERA ======================= */

/**
 * 1. Tamaño de la cabecera.
 * 2. Color del contenido de la cabecera.
 * 3. Color del fondo de la cabecera.
 */

header {
  width: 100%;
  color: white;
  background-color: #22324d;
}

/**
 * 1. Menú de navegación en el centro.
 * 2. Color del fondo del menú de navegación.
 */

#header-menu {
  text-align: center;
  background: #ff88a8;
}

/**
 * Tamaño y separación de las secciones del menú de navegación.
 */

#header-menu li, #page-navigator li {
  font-size: 15px;
  margin: 0 35px;
}

/**
 * El formulario de inicio de sesión está a la derecha en la cabecera.
 */

#header-form {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

/**
 * Título (incluída descripción) ubicado en el centro de la cabecera.
 */

#header-title {
  padding-top: 25px;
  text-align: center;
}

/**
 * Tamaño del título de la cabecera.
 */

#header-title>h1 {
  font-size: 65px;
  line-height: .35;
}

/**
 * Formato de la descripción de la cabecera.
 */

#header-title>p {
  padding-top: 10px;
}

/**
 * Formato del menú de navegación sobre los contenidos de la página.
 */

#page-navigator {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

/**
 * Formato de los enlaces a los diferentes artículos de la página.
 */

.enlace-articulo {
  font-weight: bold;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  background: #ff88a8;
}

/**
 * Estilo de los párrafos donde se enlaza una fuente externa.
*/

.fuente {
  font-style: italic;
  margin-bottom: 25px;
  text-align: right;
}

/**
 * Estilo de los enlaces que actúan como fuente de los artículos de la página.
*/

.enlace-fuente {
  font-style: italic;
  text-decoration: underline;
}

/* ======================= CONTENIDO ======================= */

/**
 * 1. El contenido es un bloque centrado de tamaño fijo.
 * 2. Color del fondo del contenido.
 */

#content {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

/**
 * 1. Márgenes del artículo del contenido.
 * 2. Justificación del texto del artículo.
 */

.content-text {
  margin: 0 40px 0 40px;
  text-align: justify;
}

/**
 * 1. Máxima anchura de las fotos y vídeos que se incluyan dentro de los artículos.
 * 2. Alineado al centro de todas las fotos del contenido.
 */

.content-text img, .content-text iframe {
  max-width: 920px;
}

/**
 * 1. Alineado al centro de todos los vídeos y fotos de la página
 */

.video, .foto {
  text-align: center;
}

/**
 * Tamaño de los h2 dentro del contenido.
 */

.content-text h2 {
  font-size: 35px;
}

/**
 * Color de los títulos del contenido.
 */

.content-text h2, .content-text h3 {
  color: #22324d;
}

/* ======================= PIE DE PÁGINA ======================= */

/**
 * 1. El pie ocupa toda la franja inferior.
 * 2. Color del fondo del pie.
 */

footer {
  width: 100%;
  height: 80px;
  text-align: center;
  color: white;
  background-color: #22324d;
}

/**
 * La lista de menú del pie de página está centrado.
 */

footer .menu-list {
  margin-top: 20px;
  margin-bottom: 0;
}

/**
 * Separación de los elementos de la lista de rrss.
 */

footer li {
  margin: 0 15px;
}

/**
 * Tamaño de los logos de la lista de rrss.
 */

.menu-list img {
  width: 40px;
  height: 40px;
}
